In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from datetime import datetime
import matplotlib.pyplot as plt
import requests
import requests_cache
import time
import math
from sqlalchemy import create_engine
import execjs
import random
import json
import sse_api_helper as sseapi
import netease_api_helper as neteaseapi
import szse_api_helper as szseapi
import rates_helper
%matplotlib inline

In [2]:
# 更新存款利率
# %time rates_helper.update_interest_rate()

In [3]:
# 更新上交所和深交所股票列表
sseapi.update_sse_stocks()
szseapi.update_szse_stocks()

In [14]:
engine = create_engine('sqlite:///stock.sqlite')
df = pd.read_sql_table('stock_list', engine.connect())
df

          代码      简称          上市日期    板块  交易所    所属行业
0     600000    浦发银行    1999-11-10  主板A股    0
1     600004    白云机场    2003-04-28  主板A股    0
2     600006    东风汽车    1999-07-27  主板A股    0
3     600007    中国国贸    1999-03-12  主板A股    0
4     600008    首创股份    2000-04-27  主板A股    0
...      ...     ...           ...   ...  ...     ...
4135  300899    上海凯鑫    2020-10-16   创业板    1  N 公共环保
4136  300900    广联航空    2020-10-29   创业板    1   C 制造业
4137  300901    中胤时尚    2020-10-29   创业板    1  M 科研服务
4138  300902     国安达    2020-10-29   创业板    1   C 制造业
4139  300903    科翔股份    2020-11-05   创业板    1   C 制造业

[4140 rows x 6 columns]

In [16]:
df['代码'][0*]

SyntaxError: invalid syntax (<ipython-input-16-a34f54accf58>, line 1)

更新上证所分红数据

In [6]:
%%time
# sseapi.update_dividends()

CPU times: user 6 µs, sys: 1 µs, total: 7 µs
Wall time: 11.4 µs

更新上证所送股数据

In [7]:
%%time
# sseapi.update_bonus()

CPU times: user 8 µs, sys: 1 µs, total: 9 µs
Wall time: 15 µs

更新上证所配股数据

In [8]:
%%time
# sseapi.update_allotments()

CPU times: user 6 µs, sys: 1 µs, total: 7 µs
Wall time: 11.4 µs

In [9]:
# code = '600583'
# neteaseapi.get_netease_historical_data(0, code, '19890501', '20201212')
# df = neteaseapi.get_historical_data(code)
# df

In [10]:
# df = neteaseapi.restoration_of_rights(df)
# df

In [11]:
# df[['收盘价', '后复权']].plot(subplots=True, grid=True, figsize=(8, 6))