In [1]:
from netease import netease
from sina_finance import sina
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)

In [2]:
def mgjzc(code):
    code=str(code)
    r1=sina.mgjzc(code)
    r2=netease.historical_prices(code)
    r1['股价']=r2['收盘价'].resample('Q').ffill()
    r1['市净率']=r1['股价']/r1['每股净资产']
    r1.sort_index(inplace=True)
    return r1

In [ ]:
def dividend_yield(code):
    """股息率
    """

中国中免 601888

In [79]:
mgjzc('601888')

             每股净资产      股价        市净率
日期
2006-12-31   0.000     NaN        NaN
2007-12-31   0.000     NaN        NaN
2008-09-30   0.000     NaN        NaN
2008-12-31   1.354     NaN        NaN
2009-03-31   0.000     NaN        NaN
2009-06-30   1.607     NaN        NaN
2009-09-30   4.146     NaN        NaN
2009-12-31   4.211   20.94   4.972691
2010-03-31   4.337   18.68   4.307125
2010-06-30   4.466   19.15   4.287953
2010-09-30   4.622   25.30   5.473821
2010-12-31   4.664   30.97   6.640223
2011-03-31   4.796   26.17   5.456631
2011-06-30   4.942   23.63   4.781465
2011-09-30   5.195   24.61   4.737247
2011-12-31   5.318   26.23   4.932305
2012-03-31   5.703   25.54   4.478345
2012-06-30   5.864   28.22   4.812415
2012-09-30   6.108   28.31   4.634905
2012-12-31   6.364   27.42   4.308611
2013-03-31   6.928   32.98   4.760393
2013-06-30   6.924   29.20   4.217215
2013-09-30   9.134   41.44   4.536895
2013-12-31   9.286   34.90   3.758346
2014-03-31   9.848   33.25   3.376320
2014-06-30   9.766   33.04   3.383166
2014-09-30  10.109   37.87   3.746167
2014-12-31  10.343   44.40   4.292758
2015-03-31  11.002    0.00   0.000000
2015-06-30  10.912   66.30   6.075880
2015-09-30  11.235   52.28   4.653316
2015-12-31  11.453   59.31   5.178556
2016-03-31  12.173   45.65   3.750103
2016-06-30  12.096   43.98   3.635913
2016-09-30  12.465   45.08   3.616526
2016-12-31  12.906   43.40   3.362777
2017-03-31  13.612   56.69   4.164708
2017-06-30   6.596   30.14   4.569436
2017-09-30   6.886   34.49   5.008713
2017-12-31   7.187   43.39   6.037290
2018-03-31   7.728   52.91   6.846532
2018-06-30   7.658   64.41   8.410812
2018-09-30   8.121   68.02   8.375816
2018-12-31   8.315   60.20   7.239928
2019-03-31   9.474   70.08   7.397087
2019-06-30   9.464   88.65   9.367075
2019-09-30   9.976   93.06   9.328388
2019-12-31  10.288   88.95   8.645995
2020-03-31  10.168   67.20   6.608969
2020-06-30   9.040  154.03  17.038717
2020-09-30  10.066  222.94  22.147824
2020-12-31  11.429  282.45  24.713448
2021-03-31  12.902  306.08  23.723454
2021-06-30  13.125  300.10  22.864762
2021-09-30  14.743  260.00  17.635488
2021-12-31  15.170  219.41  14.463415
2022-03-31  16.434  164.37  10.001825

天坛生物 600161

In [84]:
mgjzc('600161')

            每股净资产     股价        市净率
日期
1996-12-31  1.433    NaN        NaN
1997-12-31  1.026    NaN        NaN
1998-06-30  2.036  20.33   9.985265
1998-12-31  2.215  20.20   9.119639
1999-06-30  1.513  19.21  12.696629
1999-12-31  1.454  17.98  12.365887
2000-06-30  1.578  22.13  14.024081
2000-12-31  1.442  24.68  17.115118
2001-06-30  1.588  26.26  16.536524
2001-12-31  1.493  18.20  12.190221
2002-03-31  1.578  17.20  10.899873
2002-06-30  1.533  17.67  11.526419
2002-09-30  1.573  15.31   9.732994
2002-12-31  1.603  11.80   7.361198
2003-03-31  1.549  12.66   8.173015
2003-06-30  1.654  12.66   7.654172
2003-09-30  2.742   9.87   3.599562
2003-12-31  2.761  10.23   3.705179
2004-03-31  2.842  13.20   4.644616
2004-06-30  2.923  12.02   4.112213
2004-09-30  1.947   7.66   3.934258
2004-12-31  1.955   7.67   3.923274
2005-03-31  1.892   6.87   3.631078
2005-06-30  1.963   4.87   2.480897
2005-09-30  2.022   6.18   3.056380
2005-12-31  2.054   5.71   2.779942
2006-03-31  2.135   0.00   0.000000
2006-06-30  2.058  14.55   7.069971
2006-09-30  1.968  14.70   7.469512
2006-12-31  1.841  20.70  11.243889
2007-03-31  1.921  25.15  13.092140
2007-06-30  1.827  32.11  17.575260
2007-09-30  1.929  48.66  25.225505
2007-12-31  1.958  47.70  24.361593
2008-03-31  2.048  24.00  11.718750
2008-06-30  1.317  12.52   9.506454
2008-09-30  1.292  10.42   8.065015
2008-12-31  1.905  14.52   7.622047
2009-03-31  1.441  17.69  12.276197
2009-06-30  1.518   0.00   0.000000
2009-09-30  1.485  25.96  17.481481
2009-12-31  1.636  26.60  16.259169
2010-03-31  1.784  24.44  13.699552
2010-06-30  1.903  23.36  12.275355
2010-09-30  2.052  24.39  11.885965
2010-12-31  2.047  22.90  11.187103
2011-03-31  2.173  20.48   9.424758
2011-06-30  2.182  16.95   7.768103
2011-09-30  2.466  16.42   6.658556
2011-12-31  2.501  16.08   6.429428
2012-03-31  2.639  13.96   5.289883
2012-06-30  2.700  14.27   5.285185
2012-09-30  2.771  13.68   4.936846
2012-12-31  3.015  12.44   4.126036
2013-03-31  3.201  15.60   4.873477
2013-06-30  3.449  14.11   4.091041
2013-09-30  3.669  19.35   5.273917
2013-12-31  3.736  21.26   5.690578
2014-03-31  3.920  18.49   4.716837
2014-06-30  4.181  18.38   4.396077
2014-09-30  4.161  23.97   5.760634
2014-12-31  3.765  25.81   6.855246
2015-03-31  3.789  38.29  10.105569
2015-06-30  3.876  37.66   9.716202
2015-09-30  3.847  24.77   6.438783
2015-12-31  3.767  34.93   9.272631
2016-03-31  3.765  28.95   7.689243
2016-06-30  3.955  27.79   7.026549
2016-09-30  4.123  40.57   9.839922
2016-12-31  4.257   0.00   0.000000
2017-03-31  4.432  39.67   8.950812
2017-06-30  4.186  38.81   9.271381
2017-09-30  4.336  32.87   7.580720
2017-12-31  5.474  28.79   5.259408
2018-03-31  4.709  28.91   6.139308
2018-06-30  3.618  19.35   5.348259
2018-09-30  3.798  19.29   5.078989
2018-12-31  3.870  21.25   5.490956
2019-03-31  4.021  25.10   6.242228
2019-06-30  3.464  25.25   7.289261
2019-09-30  3.630  28.39   7.820937
2019-12-31  3.768  27.94   7.415074
2020-03-31  3.894  36.38   9.342578
2020-06-30  4.039  45.33  11.223075
2020-09-30  3.488  39.75  11.396216
2020-12-31  3.602  41.70  11.576902
2021-03-31  3.723  32.66   8.772495
2021-06-30  5.556  34.25   6.164507
2021-09-30  5.717  32.01   5.599090
2021-12-31  5.864  28.96   4.938608
2022-03-31  5.955  24.68   4.144416

格力电器 000651

In [85]:
mgjzc('000651')

             每股净资产     股价        市净率
日期
1994-12-31   2.860    NaN        NaN
1995-12-31   3.929    NaN        NaN
1996-06-30   6.178    NaN        NaN
1996-12-31   3.707  38.49  10.383059
1997-06-30   4.651  43.26   9.301226
1997-12-31   4.020  37.93   9.435323
1998-06-30   6.415  31.98   4.985191
1998-12-31   2.948  16.43   5.573270
1999-06-30   3.455  22.61   6.544139
1999-12-31   3.251  14.73   4.530914
2000-06-30   3.612  17.53   4.853267
2000-12-31   4.506  15.42   3.422104
2001-06-30   3.312  11.63   3.511473
2001-12-31   3.186   9.96   3.126177
2002-03-31   3.322   9.31   2.802529
2002-06-30   3.501   9.22   2.633533
2002-09-30   3.715   8.82   2.374159
2002-12-31   3.738   8.34   2.231140
2003-03-31   3.549   8.98   2.530290
2003-06-30   3.765   8.25   2.191235
2003-09-30   3.974   7.68   1.932562
2003-12-31   4.046   8.87   2.192289
2004-03-31   4.191  10.31   2.460033
2004-06-30   4.124  10.25   2.485451
2004-09-30   4.373  11.65   2.664075
2004-12-31   4.501   9.96   2.212842
2005-03-31   4.339   9.00   2.074211
2005-06-30   4.661  10.21   2.190517
2005-09-30   4.939  10.08   2.040899
2005-12-31   5.019   0.00   0.000000
2006-03-31   5.277  10.58   2.004927
2006-06-30   5.646  13.74   2.433581
2006-09-30   3.731   8.04   2.154918
2006-12-31   4.115  11.87   2.884569
2007-03-31   4.195  16.91   4.030989
2007-06-30   4.627   0.00   0.000000
2007-09-30   4.984  43.08   8.643660
2007-12-31   6.740  49.35   7.321958
2008-03-31   7.255  44.89   6.187457
2008-06-30   7.659  31.30   4.086695
2008-09-30   5.428  18.60   3.426676
2008-12-31   5.862  19.44   3.316274
2009-03-31   6.306  26.01   4.124643
2009-06-30   4.382  20.90   4.769512
2009-09-30   4.797  21.80   4.544507
2009-12-31   5.307  28.94   5.453175
2010-03-31   5.645  28.20   4.995571
2010-06-30   5.638  18.80   3.334516
2010-09-30   4.248  14.18   3.338041
2010-12-31   4.721  18.13   3.840288
2011-03-31   5.057  22.66   4.480918
2011-06-30   5.201  23.50   4.518362
2011-09-30   5.716  19.99   3.497201
2011-12-31   6.248  17.29   2.767286
2012-03-31   7.322  20.33   2.776564
2012-06-30   7.380  20.85   2.825203
2012-09-30   8.213  21.38   2.603190
2012-12-31   8.891  25.50   2.868069
2013-03-31   9.327  28.57   3.063150
2013-06-30   9.199  25.06   2.724209
2013-09-30  10.406  26.56   2.552374
2013-12-31  11.467  32.66   2.848173
2014-03-31  12.219  28.00   2.291513
2014-06-30  11.898  29.45   2.475206
2014-09-30  13.245  27.73   2.093620
2014-12-31  14.679  37.12   2.528783
2015-03-31  15.604  43.78   2.805691
2015-06-30  13.669  63.90   4.674812
2015-09-30   7.469  16.18   2.166287
2015-12-31   7.900  22.35   2.829114
2016-03-31   8.427   0.00   0.000000
2016-06-30   7.466   0.00   0.000000
2016-09-30   8.269  22.22   2.687145
2016-12-31   8.972  24.62   2.744093
2017-03-31   9.619  31.70   3.295561
2017-06-30   8.720  41.17   4.721330
2017-09-30   9.745  37.90   3.889174
2017-12-31  10.907  43.70   4.006601
2018-03-31  11.789  46.90   3.978285
2018-06-30  13.020  47.15   3.621352
2018-09-30  14.410  40.20   2.789729
2018-12-31  15.162  35.69   2.353911
2019-03-31  15.541  47.21   3.037771
2019-06-30  15.367  55.00   3.579098
2019-09-30  16.755  57.30   3.419875
2019-12-31  18.311  65.58   3.581454
2020-03-31  18.775  52.20   2.780293
2020-06-30  18.886  56.57   2.995340
2020-09-30  19.075  53.30   2.794233
2020-12-31  19.148  61.94   3.234803
2021-03-31  18.772  62.70   3.340081
2021-06-30  16.342  52.10   3.188104
2021-09-30  15.341  38.75   2.525911
2021-12-31  17.525  37.03   2.112981
2022-03-31  16.457  32.30   1.962691

中联重科 000157

In [86]:
mgjzc('000157')

            每股净资产     股价        市净率
日期
1998-12-31  1.108    NaN        NaN
1999-12-31  1.446    NaN        NaN
2000-06-30  1.726    NaN        NaN
2000-12-31  5.381  24.70   4.590225
2001-06-30  5.688  32.80   5.766526
2001-12-31  2.916  14.45   4.955418
2002-03-31  2.976  14.40   4.838710
2002-06-30  3.116  14.88   4.775353
2002-09-30  3.206  13.83   4.313787
2002-12-31  2.580   8.98   3.480620
2003-03-31  2.649  10.35   3.907135
2003-06-30  2.842  10.90   3.835327
2003-09-30  2.992  10.21   3.412433
2003-12-31  3.171  12.50   3.941974
2004-03-31  2.631  12.63   4.800456
2004-06-30  2.920   9.36   3.205479
2004-09-30  3.102   8.68   2.798195
2004-12-31  3.196   7.27   2.274718
2005-03-31  2.936   6.05   2.060627
2005-06-30  3.125   6.16   1.971200
2005-09-30  3.274   6.41   1.957850
2005-12-31  3.416   6.41   1.876464
2006-03-31  3.558   9.43   2.650365
2006-06-30  3.878   0.00   0.000000
2006-09-30  4.124  11.29   2.737633
2006-12-31  4.560  22.23   4.875000
2007-03-31  4.943  26.49   5.359094
2007-06-30  3.693  38.50  10.425129
2007-09-30  4.207  43.66  10.377942
2007-12-31  4.772  57.45  12.038977
2008-03-31  5.249   0.00   0.000000
2008-06-30  2.926  13.85   4.733424
2008-09-30  3.249  14.71   4.527547
2008-12-31  3.361  11.18   3.326391
2009-03-31  3.556  20.92   5.883015
2009-06-30  3.971  22.33   5.623269
2009-09-30  3.964  23.90   6.029263
2009-12-31  4.463  26.01   5.827918
2010-03-31  6.829  23.65   3.463172
2010-06-30  7.332  16.25   2.216312
2010-09-30  3.082  10.62   3.445814
2010-12-31  4.729  14.14   2.990061
2011-03-31  5.241  15.46   2.949819
2011-06-30  5.417  15.38   2.839210
2011-09-30  4.336   9.51   2.193266
2011-12-31  4.600   7.69   1.671739
2012-03-31  4.866   8.66   1.779696
2012-06-30  5.069   0.00   0.000000
2012-09-30  5.247   8.62   1.642844
2012-12-31  5.295   9.21   1.739377
2013-03-31  5.371   8.04   1.496928
2013-06-30  5.465   5.43   0.993596
2013-09-30  5.396   5.64   1.045219
2013-12-31  5.401   5.45   1.009072
2014-03-31  5.455   4.87   0.892759
2014-06-30  5.372   4.43   0.824646
2014-09-30  5.376   4.89   0.909598
2014-12-31  5.299   7.06   1.332327
2015-03-31  5.238   7.32   1.397480
2015-06-30  5.208   8.11   1.557220
2015-09-30  5.121   4.99   0.974419
2015-12-31  5.211   5.35   1.026674
2016-03-31  5.128   4.59   0.895086
2016-06-30  4.874   4.13   0.847353
2016-09-30  4.877   4.63   0.949354
2016-12-31  4.803   4.54   0.945243
2017-03-31  4.822   4.78   0.991290
2017-06-30  4.848   4.49   0.926155
2017-09-30  4.894   4.48   0.915407
2017-12-31  4.821   4.47   0.927194
2018-03-31  4.884   4.21   0.861998
2018-06-30  4.745   4.11   0.866175
2018-09-30  4.800   3.74   0.779167
2018-12-31  4.892   3.56   0.727719
2019-03-31  5.017   4.48   0.892964
2019-06-30  4.718   6.01   1.273845
2019-09-30  4.824   5.70   1.181592
2019-12-31  4.935   6.68   1.353597
2020-03-31  5.088   5.69   1.118318
2020-06-30  5.610   6.43   1.146168
2020-09-30  5.848   8.11   1.386799
2020-12-31  5.889   9.90   1.681100
2021-03-31  6.392  12.71   1.988423
2021-06-30  6.384   9.24   1.447368
2021-09-30  6.490   8.25   1.271186
2021-12-31  6.553   7.17   1.094155
2022-03-31  6.657   6.64   0.997446

国药一致 000028

In [89]:
mgjzc('000028')

             每股净资产     股价        市净率
日期
1990-12-31   0.000    NaN        NaN
1991-12-31   0.000    NaN        NaN
1992-12-31   3.023    NaN        NaN
1993-12-31   2.735   8.20   2.998172
1994-06-30   2.883   4.00   1.387444
1994-12-31   2.796   4.81   1.720315
1995-06-30   2.860   5.22   1.825175
1995-12-31   2.587   6.15   2.377271
1996-06-30   2.772   5.80   2.092352
1996-12-31   2.228  11.38   5.107720
1997-06-30   2.233  12.20   5.463502
1997-12-31   2.040   6.79   3.328431
1998-06-30   2.060   9.93   4.820388
1998-12-31   2.128   8.99   4.224624
1999-06-30   2.194  10.77   4.908842
1999-12-31   2.134  10.60   4.967198
2000-06-30   2.200   0.00   0.000000
2000-12-31   1.100   0.00   0.000000
2001-06-30   1.305  24.92  19.095785
2001-12-31   1.174  16.47  14.028961
2002-03-31   1.231  14.57  11.835906
2002-06-30   1.249  13.70  10.968775
2002-09-30   1.255  11.05   8.804781
2002-12-31   1.157   8.33   7.199654
2003-03-31   1.154   9.02   7.816291
2003-06-30   1.159   7.33   6.324418
2003-09-30   1.157   6.62   5.721694
2003-12-31   1.174   5.45   4.642249
2004-03-31   1.195   8.15   6.820084
2004-06-30   1.221   5.73   4.692875
2004-09-30   1.232   5.61   4.553571
2004-12-31   1.243   5.05   4.062751
2005-03-31   1.281   4.45   3.473849
2005-06-30   1.310   4.34   3.312977
2005-09-30   1.338   4.94   3.692078
2005-12-31   1.366   4.23   3.096633
2006-03-31   1.432   4.85   3.386872
2006-06-30   1.446   6.47   4.474412
2006-09-30   1.530   7.21   4.712418
2006-12-31   1.355   7.35   5.424354
2007-03-31   1.485  10.90   7.340067
2007-06-30   1.592  10.39   6.526382
2007-09-30   1.663  18.75  11.274805
2007-12-31   1.697  22.50  13.258692
2008-03-31   1.812  17.10   9.437086
2008-06-30   1.947  16.35   8.397535
2008-09-30   2.100  12.60   6.000000
2008-12-31   2.289  16.41   7.169069
2009-03-31   2.329  17.88   7.677115
2009-06-30   2.554  18.90   7.400157
2009-09-30   2.718  22.30   8.204562
2009-12-31   2.940  27.68   9.414966
2010-03-31   3.077  27.88   9.060773
2010-06-30   3.177  28.60   9.002203
2010-09-30   3.393  37.90  11.170056
2010-12-31   3.652  33.00   9.036145
2011-03-31   3.955  27.85   7.041719
2011-06-30   4.112  25.82   6.279183
2011-09-30   4.393  24.88   5.663556
2011-12-31   4.685  21.35   4.557097
2012-03-31   5.093  18.42   3.616729
2012-06-30   5.374  29.78   5.541496
2012-09-30   5.749  33.90   5.896678
2012-12-31   6.163  35.30   5.727730
2013-03-31   6.662  35.21   5.285200
2013-06-30   6.889  27.92   4.052838
2013-09-30   7.361  42.08   5.716615
2013-12-31   7.790  46.30   5.943517
2014-03-31  11.973  44.00   3.674935
2014-06-30  12.293  39.95   3.249817
2014-09-30  12.596  51.70   4.104478
2014-12-31  13.139  47.73   3.632697
2015-03-31  13.682  60.41   4.415290
2015-06-30  14.007  74.51   5.319483
2015-09-30  14.522  56.42   3.885140
2015-12-31  20.277   0.00   0.000000
2016-03-31  15.587  63.78   4.091871
2016-06-30  16.233  65.10   4.010349
2016-09-30  16.732  71.75   4.288190
2016-12-31  23.128  66.90   2.892598
2017-03-31  20.374  75.28   3.694905
2017-06-30  20.705  80.90   3.907269
2017-09-30  21.277  67.67   3.180430
2017-12-31  21.948  60.25   2.745125
2018-03-31  22.632  59.47   2.627695
2018-06-30  23.148  49.90   2.155694
2018-09-30  25.731  45.66   1.774513
2018-12-31  27.138  41.44   1.527010
2019-03-31  27.839  51.49   1.849564
2019-06-30  28.357  41.83   1.475121
2019-09-30  29.084  43.49   1.495324
2019-12-31  30.157  45.36   1.504128
2020-03-31  30.511  39.95   1.309364
2020-06-30  30.832  45.01   1.459847
2020-09-30  31.659  46.20   1.459301
2020-12-31  32.580  45.80   1.405770
2021-03-31  33.348  42.10   1.262445
2021-06-30  33.511  37.84   1.129181
2021-09-30  34.288  34.80   1.014932
2021-12-31  34.861  36.98   1.060784
2022-03-31  35.450  33.88   0.955712

万凯新材 301216

In [3]:
mgjzc('301216')

             每股净资产     股价       市净率
日期
2017-12-31   2.142    NaN       NaN
2018-12-31   3.174    NaN       NaN
2019-12-31   4.783    NaN       NaN
2020-03-31   0.000    NaN       NaN
2020-06-30   5.012    NaN       NaN
2020-09-30   0.000    NaN       NaN
2020-12-31   5.233    NaN       NaN
2021-03-31   0.000    NaN       NaN
2021-06-30   5.966    NaN       NaN
2021-09-30   0.000    NaN       NaN
2021-12-31   6.951    NaN       NaN
2022-03-31  14.544  33.86  2.328108

恒顺醋业 600305

In [3]:
mgjzc('600305')

            每股净资产     股价       市净率
日期
1997-12-31  1.825    NaN       NaN
1998-12-31  1.811    NaN       NaN
1999-12-31  1.026    NaN       NaN
2000-12-31  1.143    NaN       NaN
2001-06-30  2.986  21.15  7.083054
2001-12-31  2.922  16.28  5.571526
2002-03-31  3.013  15.21  5.048125
2002-06-30  3.071  15.17  4.939759
2002-09-30  3.102  15.15  4.883946
2002-12-31  3.121  12.02  3.851330
2003-03-31  3.090  12.26  3.967638
2003-06-30  3.138  11.09  3.534098
2003-09-30  3.173   9.11  2.871100
2003-12-31  3.028   8.43  2.784016
2004-03-31  3.161  10.46  3.309079
2004-06-30  3.080   8.90  2.889610
2004-09-30  3.123   8.68  2.779379
2004-12-31  3.136   7.56  2.410714
2005-03-31  3.183   7.41  2.327992
2005-06-30  3.270   5.87  1.795107
2005-09-30  3.349   8.19  2.445506
2005-12-31  3.400   8.35  2.455882
2006-03-31  3.463  10.37  2.994513
2006-06-30  3.410  10.92  3.202346
2006-09-30  3.490  10.03  2.873926
2006-12-31  3.588  11.18  3.115942
2007-03-31  3.530  16.88  4.781870
2007-06-30  3.504  15.69  4.477740
2007-09-30  3.582  16.93  4.726410
2007-12-31  3.720  16.82  4.521505
2008-03-31  3.836  13.13  3.422836
2008-06-30  3.822   8.86  2.318158
2008-09-30  3.834   7.36  1.919666
2008-12-31  3.260   6.67  2.046012
2009-03-31  3.321   9.15  2.755194
2009-06-30  3.366  10.10  3.000594
2009-09-30  3.378   9.56  2.830077
2009-12-31  3.487  13.45  3.857184
2010-03-31  3.539   0.00  0.000000
2010-06-30  3.277  13.85  4.226427
2010-09-30  3.294  17.60  5.343048
2010-12-31  3.336  18.78  5.629496
2011-03-31  3.403  16.54  4.860417
2011-06-30  3.367  14.29  4.244134
2011-09-30  3.274  13.11  4.004276
2011-12-31  3.502   9.93  2.835523
2012-03-31  3.376  10.69  3.166469
2012-06-30  3.351  13.96  4.165921
2012-09-30  3.380  15.84  4.686391
2012-12-31  3.986  16.25  4.076769
2013-03-31  4.023  27.26  6.776038
2013-06-30  4.129  25.23  6.110438
2013-09-30  4.198  30.51  7.267747
2013-12-31  2.154  16.58  7.697307
2014-03-31  2.209  16.53  7.483024
2014-06-30  4.063  14.95  3.679547
2014-09-30  4.123  16.82  4.079554
2014-12-31  4.213  18.16  4.310468
2015-03-31  4.672  25.59  5.477312
2015-06-30  4.711  30.19  6.408406
2015-09-30  4.806  19.85  4.130254
2015-12-31  4.889  25.67  5.250562
2016-03-31  5.010  20.59  4.109780
2016-06-30  2.451  11.52  4.700122
2016-09-30  2.519  11.55  4.585153
2016-12-31  2.607  11.68  4.480245
2017-03-31  2.681  10.60  3.953749
2017-06-30  2.678  10.26  3.831217
2017-09-30  2.763  11.00  3.981180
2017-12-31  2.987  11.79  3.947104
2018-03-31  3.085  10.14  3.286872
2018-06-30  2.347   9.16  3.902855
2018-09-30  2.468  11.49  4.655592
2018-12-31  2.628  10.40  3.957382
2019-03-31  2.689  13.71  5.098550
2019-06-30  2.778  18.42  6.630670
2019-09-30  2.797  13.51  4.830175
2019-12-31  2.874  15.25  5.306193
2020-03-31  2.971  19.59  6.593739
2020-06-30  2.232  18.55  8.310932
2020-09-30  2.313  21.12  9.130999
2020-12-31  2.391  22.14  9.259724
2021-03-31  2.467  19.06  7.725983
2021-06-30  2.465  19.12  7.756592
2021-09-30  2.190  15.42  7.041096
2021-12-31  2.164  15.95  7.370610
2022-03-31  2.227  10.71  4.809160

海天味业 603288

In [4]:
mgjzc('603288')

             每股净资产      股价        市净率
日期
2009-12-31  12.885     NaN        NaN
2010-12-31   3.557     NaN        NaN
2011-12-31   4.340     NaN        NaN
2012-09-30   0.000     NaN        NaN
2012-12-31   5.146     NaN        NaN
2013-03-31   0.000     NaN        NaN
2013-06-30   5.310     NaN        NaN
2013-09-30   4.941     NaN        NaN
2013-12-31   5.506     NaN        NaN
2014-03-31   8.533   66.13   7.749912
2014-06-30   4.324   33.84   7.826087
2014-09-30   4.622   37.54   8.122025
2014-12-31   4.980   39.95   8.022088
2015-03-31   4.629   51.45  11.114712
2015-06-30   2.791   31.94  11.443927
2015-09-30   2.983   31.37  10.516259
2015-12-31   3.234   35.35  10.930736
2016-03-31   2.938   30.70  10.449285
2016-06-30   3.191   30.40   9.526794
2016-09-30   3.397   30.36   8.937298
2016-12-31   3.702   29.33   7.922744
2017-03-31   4.064   34.81   8.565453
2017-06-30   3.699   40.78  11.024601
2017-09-30   3.966   47.39  11.949067
2017-12-31   4.351   53.80  12.364974
2018-03-31   4.796   56.76  11.834862
2018-06-30   4.338   73.64  16.975565
2018-09-30   4.665   79.20  16.977492
2018-12-31   5.138   68.80  13.390424
2019-03-31   5.685   86.70  15.250660
2019-06-30   5.177  105.00  20.282017
2019-09-30   5.578  109.91  19.704195
2019-12-31   6.141  107.51  17.506921
2020-03-31   6.738  125.17  18.576729
2020-06-30   5.221  124.40  23.826853
2020-09-30   5.628  162.10  28.802416
2020-12-31   6.193  200.54  32.381721
2021-03-31   6.796  159.80  23.513832
2021-06-30   4.767  128.95  27.050556
2021-09-30   5.089  110.00  21.615249
2021-12-31   5.555  105.11  18.921692
2022-03-31   5.989   87.42  14.596761

双汇发展 000895

In [5]:
mgjzc('000895')

             每股净资产     股价        市净率
日期
1995-12-31   1.282    NaN        NaN
1996-12-31   1.402    NaN        NaN
1997-12-31   1.615    NaN        NaN
1998-12-31   3.273  11.04   3.373052
1999-06-30   3.593  23.48   6.534929
1999-12-31   2.987  14.11   4.723803
2000-06-30   2.549  15.51   6.084739
2000-12-31   2.320  16.67   7.185345
2001-06-30   2.591  15.01   5.793130
2001-12-31   2.740  13.64   4.978102
2002-03-31   2.928  13.06   4.460383
2002-06-30   4.332  12.90   2.977839
2002-09-30   4.526  11.78   2.602740
2002-12-31   4.637  10.38   2.238516
2003-03-31   4.337  11.30   2.605488
2003-06-30   4.492  13.12   2.920748
2003-09-30   4.725  12.78   2.704762
2003-12-31   4.912  16.06   3.269544
2004-03-31   4.436  18.73   4.222272
2004-06-30   3.085  10.38   3.364668
2004-09-30   3.227  11.80   3.656647
2004-12-31   2.536  12.42   4.897476
2005-03-31   2.956  13.85   4.685386
2005-06-30   3.095  15.09   4.875606
2005-09-30   3.325  13.19   3.966917
2005-12-31   3.518  12.79   3.635588
2006-03-31   3.233   0.00   0.000000
2006-06-30   3.405   0.00   0.000000
2006-09-30   3.676   0.00   0.000000
2006-12-31   3.946   0.00   0.000000
2007-03-31   4.206   0.00   0.000000
2007-06-30   3.062  57.90  18.909210
2007-09-30   3.343  50.75  15.180975
2007-12-31   3.594  58.99  16.413467
2008-03-31   3.816  37.50   9.827044
2008-06-30   3.257  37.30  11.452257
2008-09-30   3.594  27.50   7.651642
2008-12-31   3.947  34.48   8.735749
2009-03-31   4.234  32.69   7.720831
2009-06-30   3.948  36.00   9.118541
2009-09-30   4.384  41.86   9.548358
2009-12-31   5.245  53.10  10.123928
2010-03-31   5.215   0.00   0.000000
2010-06-30   4.620   0.00   0.000000
2010-09-30   5.098   0.00   0.000000
2010-12-31   6.057  87.00  14.363546
2011-03-31   6.084   0.00   0.000000
2011-06-30   5.271  66.07  12.534623
2011-09-30   5.636  65.00  11.533002
2011-12-31  15.035  69.95   4.652478
2012-03-31   6.387   0.00   0.000000
2012-06-30   6.193  61.88   9.991926
2012-09-30   9.709  60.50   6.231332
2012-12-31  10.667  57.90   5.427955
2013-03-31  11.411  80.80   7.080887
2013-06-30   5.481  38.44   7.013319
2013-09-30   6.026  46.45   7.708264
2013-12-31   6.520  47.08   7.220859
2014-03-31   5.585  39.29   7.034915
2014-06-30   6.120  35.79   5.848039
2014-09-30   6.599  33.56   5.085619
2014-12-31   7.045  31.55   4.478353
2015-03-31   7.485  36.90   4.929860
2015-06-30   4.380  21.33   4.869863
2015-09-30   4.735  17.60   3.717001
2015-12-31   5.087  20.41   4.012188
2016-03-31   5.423  21.11   3.892679
2016-06-30   4.508  20.88   4.631766
2016-09-30   3.958  23.59   5.960081
2016-12-31   4.304  20.93   4.862918
2017-03-31   4.574  22.55   4.930039
2017-06-30   3.692  23.75   6.432828
2017-09-30   4.071  24.90   6.116433
2017-12-31   4.430  26.50   5.981941
2018-03-31   4.756  25.60   5.382675
2018-06-30   4.061  26.41   6.503324
2018-09-30   4.448  26.15   5.879047
2018-12-31   3.953  23.59   5.967620
2019-03-31   4.324  25.85   5.978261
2019-06-30   4.107  24.89   6.060385
2019-09-30   4.576  24.70   5.397727
2019-12-31   4.967  29.03   5.844574
2020-03-31   5.410  39.30   7.264325
2020-06-30   4.760  46.09   9.682773
2020-09-30   7.119  52.93   7.435033
2020-12-31   6.859  46.94   6.843563
2021-03-31   7.275  41.00   5.635739
2021-06-30   5.911  31.80   5.379800
2021-09-30   6.175  27.15   4.396761
2021-12-31   6.583  31.55   4.792648
2022-03-31   7.004  29.06   4.149058

贵州茅台 600519

In [6]:
mgjzc('600519')

              每股净资产       股价        市净率
日期
1998-12-31    0.000      NaN        NaN
1999-12-31    1.542      NaN        NaN
2000-12-31    2.391      NaN        NaN
2001-06-30    3.035      NaN        NaN
2001-12-31   10.124    38.55   3.807783
2002-03-31   10.950    37.26   3.402740
2002-06-30   11.077    37.03   3.342963
2002-09-30   11.361    28.18   2.480415
2002-12-31   10.372    25.46   2.454686
2003-03-31   11.165    26.05   2.333184
2003-06-30   11.292    24.96   2.210414
2003-09-30   11.661    21.24   1.821456
2003-12-31   11.369    25.40   2.234145
2004-03-31   13.469    35.04   2.601529
2004-06-30   13.775    33.85   2.457350
2004-09-30    9.826    35.97   3.660696
2004-12-31   10.602    36.64   3.455952
2005-03-31   11.540    48.11   4.168977
2005-06-30   11.825    53.65   4.536998
2005-09-30    9.988    49.46   4.951942
2005-12-31   10.790    45.62   4.227989
2006-03-31   11.743     0.00   0.000000
2006-06-30    5.300    47.44   8.950943
2006-09-30    5.662    47.43   8.376899
2006-12-31    6.424    87.83  13.672167
2007-03-31    6.167    94.50  15.323496
2007-06-30    6.499   119.68  18.415141
2007-09-30    7.284   150.47  20.657606
2007-12-31    8.724   230.00  26.364053
2008-03-31    9.650   187.71  19.451813
2008-06-30   10.261   138.58  13.505506
2008-09-30   11.221   131.89  11.753854
2008-12-31   11.914   108.70   9.123720
2009-03-31   13.204   114.74   8.689791
2009-06-30   13.715   148.01  10.791834
2009-09-30   14.771   164.86  11.161059
2009-12-31   15.327   169.82  11.079794
2010-03-31   16.668   158.76   9.524838
2010-06-30   17.427   127.36   7.308200
2010-09-30   18.565   168.73   9.088608
2010-12-31   19.494   183.92   9.434698
2011-03-31   21.491   179.85   8.368619
2011-06-30   22.394   212.63   9.494954
2011-09-30   21.959   190.59   8.679357
2011-12-31   24.072   193.30   8.030076
2012-03-31   26.932   196.96   7.313233
2012-06-30   26.814   239.15   8.918848
2012-09-30   30.110   245.80   8.163401
2012-12-31   32.894   209.02   6.354350
2013-03-31   36.355   168.86   4.644753
2013-06-30   33.456   192.37   5.749940
2013-09-30   37.133   135.94   3.660895
2013-12-31   41.055   128.38   3.127025
2014-03-31   44.585   154.70   3.469777
2014-06-30   39.647   141.98   3.581103
2014-09-30   42.680   162.13   3.798735
2014-12-31   46.787   189.62   4.052835
2015-03-31   50.600   195.96   3.872727
2015-06-30   53.682   257.65   4.799560
2015-09-30   47.642   190.31   3.994585
2015-12-31   50.888   218.19   4.287651
2016-03-31   54.783   247.64   4.520380
2016-06-30   51.727   291.92   5.643474
2016-09-30   54.643   297.91   5.451933
2016-12-31   58.028   334.15   5.758427
2017-03-31   62.902   386.36   6.142253
2017-06-30   60.200   471.85   7.838040
2017-09-30   67.152   517.64   7.708482
2017-12-31   72.800   697.49   9.580907
2018-03-31   79.572   683.62   8.591213
2018-06-30   74.349   731.46   9.838196
2018-09-30   81.492   730.00   8.957935
2018-12-31   89.825   590.01   6.568439
2019-03-31   98.757   853.99   8.647387
2019-06-30   91.351   984.00  10.771639
2019-09-30   99.712  1150.00  11.533216
2019-12-31  108.271  1183.00  10.926287
2020-03-31  118.695  1111.00   9.360125
2020-06-30  109.240  1462.88  13.391432
2020-09-30  118.176  1668.50  14.118772
2020-12-31  128.421  1998.00  15.558203
2021-03-31  139.528  2009.00  14.398544
2021-06-30  128.752  2056.70  15.974121
2021-09-30  138.791  1830.00  13.185293
2021-12-31  150.883  2050.00  13.586686
2022-03-31  164.610  1719.00  10.442865
2022-06-30  152.924  2045.00  13.372656

In [8]:
mgjzc('000002')

             每股净资产     股价        市净率
日期
1992-12-31   2.549  35.50  13.927030
1993-06-30   0.000  16.70        inf
1993-12-31   5.058  17.95   3.548834
1994-06-30   3.997   5.26   1.315987
1994-12-31   4.484   6.00   1.338091
1995-06-30   4.608   4.84   1.050347
1995-12-31   4.092   3.49   0.852884
1996-06-30   4.292   6.16   1.435228
1996-12-31   4.205  10.48   2.492271
1997-06-30   3.837  21.09   5.496482
1997-12-31   4.069  14.11   3.467682
1998-06-30   4.256  11.63   2.732613
1998-12-31   4.008   8.40   2.095808
1999-06-30   4.180  14.26   3.411483
1999-12-31   3.837   9.75   2.541048
2000-06-30   4.490  13.51   3.008909
2000-12-31   4.554  13.99   3.072025
2001-06-30   4.829  14.81   3.066888
2001-12-31   4.951  13.35   2.696425
2002-03-31   5.000  12.68   2.536000
2002-06-30   5.177  13.21   2.551671
2002-09-30   5.248  11.43   2.177973
2002-12-31   5.558   9.65   1.736236
2003-03-31   5.423  11.81   2.177761
2003-06-30   3.097   5.82   1.879238
2003-09-30   3.166   5.86   1.850916
2003-12-31   3.368   6.54   1.941805
2004-03-31   3.611   8.83   2.445306
2004-06-30   2.480   4.86   1.959677
2004-09-30   2.511   5.42   2.158503
2004-12-31   2.728   5.26   1.928152
2005-03-31   2.839   5.52   1.944347
2005-06-30   1.952   3.14   1.608607
2005-09-30   1.976   3.59   1.816802
2005-12-31   2.249   4.31   1.916407
2006-03-31   2.401   6.55   2.728030
2006-06-30   2.620   5.65   2.156489
2006-09-30   2.506   7.57   3.020750
2006-12-31   3.416  15.44   4.519906
2007-03-31   3.583  16.59   4.630198
2007-06-30   2.413  19.12   7.923746
2007-09-30   3.799  30.20   7.949460
2007-12-31   4.261  28.84   6.768364
2008-03-31   4.395  25.60   5.824801
2008-06-30   2.730   9.01   3.300366
2008-09-30   2.737   6.53   2.385824
2008-12-31   2.901   6.45   2.223371
2009-03-31   2.973   8.28   2.785066
2009-06-30   3.140  12.75   4.060510
2009-09-30   3.178  10.42   3.278792
2009-12-31   3.399  10.81   3.180347
2010-03-31   3.545   9.50   2.679831
2010-06-30   3.617   6.78   1.874482
2010-09-30   3.661   8.40   2.294455
2010-12-31   4.023   8.22   2.043251
2011-03-31   4.141   0.00   0.000000
2011-06-30   4.202   8.45   2.010947
2011-09-30   4.265   7.24   1.697538
2011-12-31   4.817   7.47   1.550758
2012-03-31   4.944   8.28   1.674757
2012-06-30   5.011   8.91   1.778088
2012-09-30   5.122   8.43   1.645841
2012-12-31   5.805   0.00   0.000000
2013-03-31   5.958  10.76   1.805975
2013-06-30   6.051   9.85   1.627830
2013-09-30   6.198   9.13   1.473056
2013-12-31   6.981   8.03   1.150265
2014-03-31   6.677   8.09   1.211622
2014-06-30   6.980   8.27   1.184814
2014-09-30   7.128   9.18   1.287879
2014-12-31   7.988  13.90   1.740110
2015-03-31   8.046  13.82   1.717624
2015-06-30   7.899  14.52   1.838207
2015-09-30   8.048  12.73   1.581759
2015-12-31   9.065   0.00   0.000000
2016-03-31   9.116   0.00   0.000000
2016-06-30   8.829   0.00   0.000000
2016-09-30   9.095  26.17   2.877405
2016-12-31  10.277  20.55   1.999611
2017-03-31  10.324  20.58   1.993413
2017-06-30  10.204  24.97   2.447080
2017-09-30  10.542  26.25   2.490040
2017-12-31  12.019  31.06   2.584242
2018-03-31  12.337  33.29   2.698387
2018-06-30  12.219  24.60   2.013258
2018-09-30  12.682  24.30   1.916102
2018-12-31  14.110  23.82   1.688164
2019-03-31  14.272  30.72   2.152466
2019-06-30  14.247  27.81   1.951990
2019-09-30  14.800  25.90   1.750000
2019-12-31  16.639  32.18   1.934010
2020-03-31  16.693  25.65   1.536572
2020-06-30  16.838  26.14   1.552441
2020-09-30  17.445  28.02   1.606191
2020-12-31  19.325  28.70   1.485123
2021-03-31  19.428  30.00   1.544163
2021-06-30  19.097  23.81   1.246793
2021-09-30  19.580  21.31   1.088355
2021-12-31  20.296  19.76   0.973591
2022-03-31  20.375  19.15   0.939877

中兴通讯 000063

In [9]:
mgjzc('000063')

             每股净资产     股价        市净率
日期
1994-12-31   1.000    NaN        NaN
1995-12-31   1.000    NaN        NaN
1996-12-31   1.000    NaN        NaN
1997-06-30   0.000    NaN        NaN
1997-12-31   2.782  25.80   9.273904
1998-06-30   3.242  35.78  11.036397
1998-12-31   2.917  30.81  10.562221
1999-06-30   3.239  55.00  16.980550
1999-12-31   4.441  28.71   6.464760
2000-06-30   4.002  29.67   7.413793
2000-12-31   4.479  38.07   8.499665
2001-06-30   7.705  34.51   4.478910
2001-12-31   6.868  23.46   3.415842
2002-03-31   7.072  24.29   3.434672
2002-06-30   7.108  23.86   3.356781
2002-09-30   7.175  15.60   2.174216
2002-12-31   7.890  12.85   1.628644
2003-03-31   7.844  17.45   2.224630
2003-06-30   6.701  17.32   2.584689
2003-09-30   6.852  18.23   2.660537
2003-12-31   7.209  18.70   2.593980
2004-03-31   7.758  28.63   3.690384
2004-06-30   6.366   0.00   0.000000
2004-09-30   6.612  26.71   4.039625
2004-12-31   9.561  26.69   2.791549
2005-03-31   9.795  29.92   3.054620
2005-06-30  10.022  23.04   2.298942
2005-09-30  10.177  27.93   2.744424
2005-12-31  10.552  27.78   2.632676
2006-03-31  10.584  30.63   2.893991
2006-06-30  10.684  28.61   2.677836
2006-09-30  10.754  31.97   2.972847
2006-12-31  11.218  39.10   3.485470
2007-03-31  11.226   0.00   0.000000
2007-06-30  11.694  54.40   4.651958
2007-09-30  11.900  55.39   4.654622
2007-12-31  12.649   0.00   0.000000
2008-03-31  13.355  58.88   4.408836
2008-06-30  13.602  62.60   4.602264
2008-09-30   9.911  29.86   3.012814
2008-12-31  10.608  27.20   2.564103
2009-03-31  10.706  35.34   3.300953
2009-06-30   8.453   0.00   0.000000
2009-09-30   8.389  38.18   4.551198
2009-12-31   9.187  44.87   4.884075
2010-03-31  10.586  42.50   4.014736
2010-06-30   7.285  19.24   2.641043
2010-09-30   7.475  24.65   3.297659
2010-12-31   8.056  27.30   3.388779
2011-03-31   8.101  30.00   3.703247
2011-06-30   8.041  28.28   3.516976
2011-09-30   6.773  18.90   2.790492
2011-12-31   7.044  16.90   2.399205
2012-03-31   7.075  16.43   2.322261
2012-06-30   7.123  13.96   1.959848
2012-09-30   6.542  11.16   1.705900
2012-12-31   6.237   9.75   1.563252
2013-03-31   6.353  11.20   1.762947
2013-06-30   6.312  12.75   2.019962
2013-09-30   6.290  16.60   2.639110
2013-12-31   6.555  13.07   1.993898
2014-03-31   6.787  12.64   1.862384
2014-06-30   6.909  13.12   1.898972
2014-09-30   7.046  15.16   2.151575
2014-12-31   7.237  18.06   2.495509
2015-03-31   7.456  21.86   2.931867
2015-06-30   7.776  23.81   3.061986
2015-09-30   6.460  15.60   2.414861
2015-12-31   7.146  18.63   2.607053
2016-03-31   7.226   0.00   0.000000
2016-06-30   7.455  14.34   1.923541
2016-09-30   7.617  14.78   1.940396
2016-12-31   6.309  15.95   2.528134
2017-03-31   6.590  16.96   2.573596
2017-06-30   6.919  23.74   3.431132
2017-09-30   7.362  28.30   3.844064
2017-12-31   7.548  36.36   4.817170
2018-03-31   5.930  30.15   5.084317
2018-06-30   5.258  13.03   2.478129
2018-09-30   5.419  18.30   3.377007
2018-12-31   5.461  19.59   3.587255
2019-03-31   5.658  29.20   5.160834
2019-06-30   5.848  32.53   5.562585
2019-09-30   6.570  32.01   4.872146
2019-12-31   6.819  35.39   5.189911
2020-03-31   8.948  42.80   4.783192
2020-06-30   8.921  40.13   4.498375
2020-09-30   9.083  33.10   3.644170
2020-12-31   9.385  33.65   3.585509
2021-03-31   9.933   0.00   0.000000
2021-06-30  10.176  33.23   3.265527
2021-09-30  10.689  33.13   3.099448
2021-12-31  10.882  33.50   3.078478
2022-03-31  11.352  23.90   2.105356