In [1]:
from netease import netease

In [2]:
code='600519'
zycwzb=netease.zycwzb(code)
hp=netease.historical_prices('0'+code)

In [3]:
zycwzb['收盘价']=hp['收盘价']

In [4]:
main=zycwzb[['每股净资产(元)','收盘价']]

In [5]:
main

           每股净资产(元)      收盘价
报告日期
2022-03-31        0  1719.00
2021-12-31        0  2050.00
2021-09-30        0  1830.00
2021-06-30        0  2056.70
2021-03-31        0  2009.00
...             ...      ...
2001-12-31    10.12    38.55
2001-06-30     3.04      NaN
2000-12-31      2.4      NaN
1999-12-31     1.54      NaN
1998-12-31        0      NaN

[86 rows x 2 columns]

In [6]:
main['市净率'] = main['收盘价'] / main['每股净资产(元)']

ZeroDivisionError: float division by zero

In [9]:
zycwzb

,基本每股收益(元),每股净资产(元),每股经营活动产生的现金流量净额(元),主营业务收入(万元),主营业务利润(万元),营业利润(万元),投资收益(万元),营业外收支净额(万元),利润总额(万元),净利润(万元),净利润(扣除非经常性损益后)(万元),经营活动产生的现金流量净额(万元),现金及现金等价物净增加额(万元),总资产(万元),流动资产(万元),总负债(万元),流动负债(万元),股东权益不含少数股东权益(万元),净资产收益率加权(%),收盘价
报告日期,,,,,,,,,,,,,,,,,,,,
2022-03-31,13.73,0,--,3229576.0,2635058,2402687.0,1596,-1575,2401112.0,1724497.0,1724306,-687606,-812043,25130189.0,21579731,3639361.0,3610653,20678299.0,8.7,1719.00
2021-12-31,41.76,0,--,10619015.0,8500253,7475088.0,5826,-22285,7452803.0,5246014.0,5258110,6402868,3190006,25516820.0,22076569,5821069.0,5791422,18953937.0,29.9,2050.00
2021-09-30,29.67,0,--,7464220.0,5974837,5302296.0,4380,-16687,5285609.0,3726617.0,3735703,3675230,595674,22470225.0,19257723,4388731.0,4344734,17434840.0,21.68,1830.00
2021-06-30,19.63,0,--,4908728.0,3945898,3507177.0,2784,-2077,3505100.0,2465399.0,2464912,2171947,-856098,21286854.0,18185057,4530445.0,4487725,16173777.0,14.2,2056.70
2021-03-31,11.11,0,--,2727088.0,2193189,1971406.0,--,-1918,1969488.0,1395446.0,1396946,-148489,-295073,21521819.0,18584959,3272842.0,3232885,17527425.0,8.29,2009.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001-12-31,--,10.12,0.17,161805.0,101262,61014.0,0,-293,60728.0,32829.0,33487,4228,149545,346339.0,--,92576.0,--,253092.0,26.79,38.55
2001-06-30,--,3.04,0,87386.0,56563,37355.0,0,0,37299.0,22341.0,0,-8628,-12454,121446.0,101111,64249.0,64249,56155.0,40.16,NaN
2000-12-31,--,2.4,2.4,111400.0,71910,44694.0,0,0,44603.0,25110.0,0,44312,26259,126886.0,0,82353.0,0,44397.0,68.86,NaN
1999-12-31,--,1.54,--,89086.0,58886,35365.0,--,-6,35359.0,21569.0,--,--,--,91506.0,72008,62970.0,62970,28536.0,--,NaN
1998-12-31,--,0,--,62818.0,43238,21897.0,0,--,21897.0,14689.0,--,--,--,74185.0,52091,50776.0,44740,23409.0,--,NaN

In [25]:
def mgjzc(i=0, zgb=12.56):
    jzc=(zycwzb.iloc[i]['总资产(万元)'] - zycwzb.iloc[i]['总负债(万元)']) * 10000    
    zgb=zgb * 100000000
    return jzc/zgb

In [29]:
jzc=(zycwzb.iloc[1]['总资产(万元)'] - zycwzb.iloc[1]['总负债(万元)']) * 10000

In [30]:
jzc

196957510000.0

In [32]:
zycwzb.iloc[1]['总负债(万元)']

5821069.0

In [ ]:
1568133041401270000

In [33]:
mgjzc(1)

156.8133041401274