In [1]:
from sina_finance import sina

In [2]:
# r=sina.cwzy('600519')

In [3]:
soup=sina.mgjzc('600519')

In [7]:
soup

              每股净资产
日期
2022-03-31  164.610
2021-12-31  150.883
2021-09-30  138.791
2021-06-30  128.752
2021-03-31  139.528
...             ...
2001-12-31   10.124
2001-06-30    3.035
2000-12-31    2.391
1999-12-31    1.542
1998-12-31

[86 rows x 1 columns]