In [1]:
from sina_finance import sina

In [2]:
# r=sina.cwzy('600519')

In [3]:
soup=sina.mgjzc('600519')

In [5]:
soup

    2022-03-31  164.610
0   2021-12-31  150.883
1   2021-09-30  138.791
2   2021-06-30  128.752
3   2021-03-31  139.528
4   2020-12-31  128.421
..         ...      ...
80  2001-12-31   10.124
81  2001-06-30    3.035
82  2000-12-31    2.391
83  1999-12-31    1.542
84  1998-12-31

[85 rows x 2 columns]